body{
    background-color: darkred;
}
h5{
    font-size: 12px;
    color: beige;
    background-color: rgba(0, 0, 0, 0.475);
}
header{
    font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: beige;
  background-color: rgba(0, 0, 0, 0.475);
}

canvas{
    background-color: rgb(3, 6, 65);
    box-shadow:2px 9px 23px blue darkblue rgb(0, 0, 120) rgb(0, 0, 67);
}
h1{
    font-size: 25px;
    color: beige;
    background-color: rgba(0, 0, 0, 0.475);
}